# Ignore MacOS files
.DS_Store

# Exlude internal vagrant directories
luce_vm/.vagrant/*
test_vm/.vagrant/*
django_vm/.vagrant/*

# Exlude django cache directories
test_vm/django/myproject/__pycache__/*
test_vm/django/dapp/__pycache__/*
test_vm/try_django/try_django/__pycache__/*
django_vm/try_django/try_django/__pycache__/*
luce_vm/django/dapp/__pycache__/*


# Exclude jupyter checkpoints directory
luce_vm/jupyter/.ipynb_checkpoints/*
test_vm/jupyter/.ipynb_checkpoints/*
django_vm/jupyter/.ipynb_checkpoints/*

# Exclude all files with a certain ending
**.icloud

# Exclude specific files
nohup.out
ubuntu-xenial-16.04-cloudimg-console.log