# Ignore MacOS files
.DS_Store

# Exlude vagrant directory
luce_vm/.vagrant/*

# Exclude jupyter checkpoints directory
luce_vm/jupyter/.ipynb_checkpoints/*

# Exclude all files with a certain ending
**.icloud

# Exclude specific files
nohup.out