# Ignore MacOS files
.DS_Store

# Exlude internal vagrant directories
luce_vm/.vagrant/*
test_vm/.vagrant/*
django_vm/.vagrant/*
**/.vagrant/*

# Exlude django cache directories
test_vm/django/dapp/__pycache__/*
**/__pycache__/**
**/static_cdn_local/static/**

# Exclude jupyter checkpoints directory
luce_vm/jupyter/.ipynb_checkpoints/*
**/jupyter/.ipynb_checkpoints/*

# Exclude safe storage area
luce_vm/jupyter/safe_storage_area/**

# Exclude all files of a certain filetype
**.icloud
**.sublime-workspace
**.sublime-project
**.box 
# Track again later via Git LFS?

# Exclude specific files/folders
nohup.out
ubuntu-xenial-16.04-cloudimg-console.log
 my_files/**

# Exclude Django VM
 django_vm/**
 luce_vm/**
/luce_wild/**