{% extends "base.html" %}


{% block content %}

<div class='row'>

<!-- Detail page is same as list view but with only one item.
This allows for consistent experience across views.  -->
{% include 'data/list-inline.html' with object=object description=True truncate=False %}


<!-- DOWNLOAD button -->
<!-- (!!!) Ensure permission to download.. -->
{% if object.file %}
	<a href="{{ object.file.url }}" Download> Download Dataset </a> 
{% endif %}


<!-- (!!!) Add edit and delete functionality -->
<!-- 	{% if request.user.is_authenticated %}
		{% if request.user.is_staff %}
			<div class='col-12'>
				<a href='{{ object.get_edit_url }}'> Edit </a>
				<a href='{{ object.get_delete_url }}'> Delete </a>
			</div>

		{% endif %}
	{% endif %} -->

</div>

{% endblock %}