<!-- Design is specified in here, other parts of website can simply include blog/list-inline.html -->

<!-- Bootstrap classes -->
<div class='col-12 col-md-10 mb-2 mt-2 mx-auto'>
	<div class='card'>
		<div class='card-body'>
			<h5 class='card-title'> {{ blog_post.title }} </h5>
			<p class='card-text'> 
				{% if truncate %}
					{{ blog_post.content|linebreaks|truncatewords:30 }} 
				{% else %}
					{{ blog_post.content|linebreaks }} 
				{% endif %}

			</p>
			<a href="{{ blog_post.get_absolute_url }}"> View </a>
		</div>
	</div>
</div>