{% extends "base.html" %}


{% block content %}

<h1>Are you sure you want to publish the following dataset? </h1>
<p> {{ dataset.title }} </p>
<p> {{ dataset.description }} </p>
<p> License: {{ dataset.license }} </p>

<!-- This is simply a confirmation page. 
	All other logic happens in view.py -->
<form method ='POST'>{% csrf_token %}

	<button class='btn btn-success'> Yes, Publish! </button>

</form>

<!-- Alternative Button -->
<button class='btn btn-info mt-1' onclick="window.location.href=' {{ dataset.get_absolute_url }} '"> No, take me back. </button>

{% endblock %}